.cover {
    object-fit: cover;
    height: 200px;
    width: 100%;
}
.card-title {
    font-size: 1.2rem;
    font-weight: bold;
}
.card-text {
    font-size: 1rem;
}
.btn {
    padding: 0.75rem 1.25rem;
}
.card{
    width: 300px;
}
  